<main class="principal">
  <div class="container-fluid">
    <h1 class="mb-3">
      Lista de Alumnos
    </h1>
    <p class="p-uno">Desafio <span>número 2</span> de Coderhouse</p>
    <p class="p-dos">Alumno Mariano Gruppo</p>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Legajo</th>
          <th>Nombre completo</th>
          <th>E-mail</th>
          <th>Edad</th>
          <th>Fecha de nacimiento</th>
          <th>Regular</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos" [ngClass]="alumno.activo ? 'table-success' : ''">
          <td>{{alumno.legajo}}</td>
          <td>{{alumno.fullName | uppercase }}</td>
          <td>{{alumno.email}}</td>
          <td>{{alumno.edad}}</td>
          <td>{{alumno.nacimiento | date: 'medium' }}</td>
          <td>{{alumno.activo}}</td>
          <td><button [id]="alumno.legajo" (click)="alumno.alternarRegularidad($event)">Cambiar Regularidad</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</main>